.innerContainer {
  display: flex;
  flex-wrap: wrap;
}

.list {
  grid-area: list;
  list-style-type: none;
}

.header {
  grid-area: header;
}

.catName {
  grid-area: hero;
}

.heroImg {
  grid-area: hero;
  width: 300px;
  height: 300px;
  padding: 1rem;
}

/* .Ray {
  grid-column-start: 1;
} */

.countTitle {
  grid-area: hero;
  padding: 1rem;
}

.count {
  grid-area: hero;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "list hero"
    ;
}
